html,body {
    overflow: hidden;
    height: 100%
}

body {
    background-image: url("bg-forest.jpg");
    /*https://www.freepik.com/free-vector/natural-background-with-tropical-forest-landscape_5223888.htm#page=1&query=forest+background&position=46*/
    background-size: cover;
    /*background-repeat: no-repeat;*/
    font: ;
    color: white;
    font-size: 20px;
}

header {
    text-align: center;
}

hr {
    width: 75%;
    opacity: .7;
}

div {
    padding: 10px 0 10px 0;
}

input {
    /*border: none;*/
    outline: none;
}

#dropdown {
    width: 100%;
    height: 37px;
    outline: none;
    border-radius: 10px;
    background-color: rgba(25,74,47, 0.0);
    border: 3px solid white;
    color: white;
}

option { 
    /* Whatever color  you want */
    background-color: rgba(25,74,47, 0.9);
}

textarea {
    outline: none;
    border-radius: 10px;
    background-color: rgba(25,74,47, 0.0);
    border: 3px solid white;
    color: white;
    padding: 8px 0 0 12px;
    resize: none;
    width: 96%;
    height: 10em
}

input, textarea, select {
    margin-top: 15px;
}

#name, #email, #number {
    height: 30px;
    width: 96%;
    /*text-indent: 10px;*/
    padding-left: 12px;
    border-radius: 10px;
    background-color: rgba(25,74,47, 0.0);
    border: 3px solid white;
    color: white;
}

::placeholder {
    color: white;
    opacity: .7;
    padding-left: 2px;
}

#survey-form {
    background-color:rgba(25,74,47, 0.9);
    width: 500px;
    height: auto;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    margin-top: 5em;
}


input[type='radio']:after, input[type='checkbox']:after, 
    input[type='radio']:checked:after, input[type='checkbox']:checked:after {
        width: 15px;
        height: 15px;
        top: -3px;
        left: -3px;
        position: relative;
        background-color: rgba(25,74,47, 0.9);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;

}

input[type='radio']:checked:after, input[type='checkbox']:checked:after {
    background-color: rgba(57, 90, 182, 1);
}

input[type='radio']:after, input[type='radio']:checked:after {
    border-radius: 15px;
}


button {
    background-color: rgba(57, 90, 182, 1);
    /*border: 3px solid white;*/
    color: white;
    height: 35px;
    width: 100%;
    border: 0px solid white;
    border-radius: 5px;
    font-size: 16px;;
    cursor: pointer;
}

.description-label {
    
}

a {
    padding-right: 40px;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: ;
    color: white;
    text-align: right;
}

