html,body {
    height: 100%;
}

body {
    background-image: url("bg-forest.jpg");
    /*https://www.freepik.com/free-vector/natural-background-with-tropical-forest-landscape_5223888.htm#page=1&query=forest+background&position=46*/
    background-size: cover;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-size: 20px;
    background-attachment: fixed;
}

header {
    text-align: center;
}

hr {
    width: 75%;
    opacity: .7;
}

div {
    padding: 10px 0 10px 0;
}

input {
    outline: none;
}

#dropdown {
    width: 100%;
    height: 37px;
    outline: none;
    border-radius: 10px;
    background-color: rgba(25,74,47, 0.0);
    border: 3px solid white;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    padding-left: 8px;
}

option { 
    background-color: rgba(25,74,47, 0.9);
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

textarea {
    outline: none;
    border-radius: 10px;
    background-color: rgba(25,74,47, 0.0);
    border: 3px solid white;
    color: white;
    padding: 8px 0 0 12px;
    resize: none;
    width: 96%;
    height: 10em;
}

textarea:hover, textarea:focus, #name:hover, #name:focus, #email:hover, #email:focus, 
    #number:hover, #number:focus, #dropdown:hover, #dropdown:focus {
    border: 3px solid #C0C0C0;
}

input, textarea, select {
    margin-top: 15px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

#number {
    font-size: 18px;
}

#name, #email, #number {
    height: 30px;
    width: 96%;
    padding-left: 12px;
    border-radius: 10px;
    background-color: rgba(25,74,47, 0.0);
    border: 3px solid white;
    color: white;
}

::placeholder {
    color: white;
    opacity: .7;
    padding-left: 2px;
}

#survey-form {
    background-color:rgba(25,74,47, 0.9);
    width: 500px;
    height: auto;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    margin-top: 5em;
    margin-bottom: 5em;
}

input[type='radio']:after, input[type='checkbox']:after, 
    input[type='radio']:checked:after, input[type='checkbox']:checked:after {
        width: 15px;
        height: 15px;
        top: -3px;
        left: -3px;
        position: relative;
        background-color: rgba(25,74,47, 0.9);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
}

input[type='radio']:checked:after, input[type='checkbox']:checked:after {
    background-color: #A2708A; 
}

input[type='radio']:after, input[type='radio']:checked:after {
    border-radius: 15px;
}

input[type='radio']:hover:after, input[type='checkbox']:hover:after, 
    input[type='radio']:hover:checked:after, input[type='checkbox']:hover:checked:after {
    border-color: #C0C0C0;
}

span {
    font-size: 17px;
}

button {
    background-color: rgba(57, 90, 182, 1);
    color: white;
    height: 35px;
    width: 100%;
    border: 0px solid white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Cormorant Garamond', serif;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2pt white;
}

button:hover {
    color: #C0C0C0;
}

#checkbox-div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 2em);
}

a {
    padding-right: 40px;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
}

